{% extends "base.html" %}

{% block content %}
    <h1 style="text-align: center;">Crear una nota</h1>
    <form style="
        display: flex; 
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 400px;
    margin-right: 400px;" action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        {{ form.name.label }}
        {{ form.name(size=32) }}
        <br>
        {{ form.body.label }}
        {{ form.body(size=280) }}
        <br>
        {{ form.submit() }}

    </form>
{% endblock %}